@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Regular2.woff2') format('woff2'),
        url('fonts/SFProDisplay-Regular.woff') format('woff');
}

html,
body {
    background: #1E1E1E url('images/background.png');
    background-size: cover;
    font-family: 'SF Pro Display', Fallback, sans-serif;
    height: 100%;
    margin: 0;
    position: relative;
    transition: background 0.2s ease-in-out;
}

#main {
    /* border: red solid 2px; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 696px;
    height: 552px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    /* border: yellow solid 2px; */
    width: 553px;
}

header h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0;
}

#info-section {
    /* border: green solid 2px; */
    width: 522px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info-section p {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
}

#inputs-div {
    /* border: purple solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

/* applied to all 3 inputs */
#inputs-div input {
    background: #000000;
    border-radius: 16px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'SF Pro Display', Fallback, sans-serif;
    padding: 0;
    padding-left: 15px;
    transition: background .3s;
}

#inputs-div input::placeholder {
    color: #FFFFFF;
}

#inputs-div input:hover {
    background: #282828e0;
}

#input-row {
    /* border: purple solid 1px; */
    display: flex;
    gap: 10px;
}

#input-row input {
    flex: 1;
    width: 50%;
    border: 2px solid #3D3D3D;
}

#handle-input-div {
    /* border: purple solid 1px; */
    display: flex;
}

#handle-input-div input {
    border: 2px solid #129A14;
    width: 100%;
}

#input-fine-print p {
    margin: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

#button-section button {
    padding: 16px;
    width: 343px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 16px;
    font-family: 'SF Pro Display', Fallback, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    transition: background .7s;
}

#button-section button:hover {
    background: #afafaf;
}

#button-section button:active > span {
    position: relative;
    left: 1.5px;
    top: 1.5px;
}